.menuNavegacion {
    li {
        color: white;
        list-style: none;

        &:hover>ul {
            display: block;
            color: white;
        }

        a {
            font-size: 1rem;
            display: flex;
            color: grey;
            text-decoration: none;

            &:hover {
                color: white;
                display: block;
            }
        }

        ul {
            text-decoration: none;
            display: none;
            list-style: none;
        }
    }

}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}