.fondoA {
    background-color: black;
}

.tituloA {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#aperturas {
    color: white;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#defensas {
    color: white;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.parrafoAD {
    padding: 2px 16px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafoA {
    color: white;
    text-align: start;
    max-width: 88vw;
}

.flexA {
    display: flex;
}

.card {
    width: 18rem;
    display: flex;
    margin: 1%;
}
.card-title {
    font-size: 1rem;
}