.marginC {
    margin: 10px;
}

.redes {
    color: white;
    list-style: none;
}

.formulario legend {
    color: white;
    margin: 10px;
    text-align: center;
}

.form {
    text-align: left;
}

.fondoC {
    background-image: url(https://s1.1zoom.me/b5050/901/Chess_Black_background_Black_and_white_571896_1920x1080.jpg);
    background-size: cover;
}

input {
    margin: 10px;
}

textarea {
    margin: 10px;
}
