.tituloInicio {
    position: relative;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    color: black
}

.subtituloInicio {
    position: relative;
    padding-bottom: 50px;
    font-size: 1.8rem;
    color: black;
    text-align: center;
}

.divInicio {
    position: relative;

    img {
        position: absolute;
        width: 100vw;
        max-height: 90vh;
    }
}

.parrafoInicio {
    position: relative;
    color: black;
    font-size: 1.5rem;
}

.listaDes {
    position: absolute;

    li {
        color: black;
        font-size: 1.4rem;
    }
}