.header {
    color: white;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: white;
}
.divContacto {
    background-image: url(../../imagenes/fondo.jpg);
    background-size: cover;
    display: flex;
}