.flex {
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;

    img {
        min-width: 150px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
    }
}

.flexI {
    display: flex;
}
.fondo {
    background-position: center;
    background-size: cover;
    background-image: url(../imagenes/fondo.jpg)
}

.grid {
    display: grid;
    grid-template-areas:
        "navegacion navegacion navegacion"
        "contenido contenido contenido"
        "contenido contenido contenido"
}

.header {
    max-width: 100vw;
    grid-area: navegacion;
    max-height: 10vh;
}

.main {
    display: flex;
    max-width: 100vw;
    height: 100vh;
    grid-area: contenido;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jugador {
    width: 200px;
}
